body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppine', sans-serif;

    .container{
      width: 100%;
      height: 100%;
      background: #ededff;
      align-items: center;
      justify-content: center;

    }}